*.aux
*.dat
*.bin
.project
.pydevproject
*.prof
*~
*__pycache__*
*.mp4
*.bat
*.lnk
store*
/DogBones/
/Materials/
/PolyII/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints

